.category {
  margin-bottom: 40px;
}

.title {
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #f2f2f3;
  margin-bottom: 20px;
}

.ingredients_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}
