.containerMain {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  flex: 1; 
  overflow: hidden;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  flex: 1; 
  overflow: hidden;
  padding: 0 20px; 
}
