.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #2f2f37;
}

.content::-webkit-scrollbar-thumb {
  background: #8585ad;
}
