.burger_ingredients {
  font-family: 'Jet Brains Mono';
  color: #f2f2f3;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #1c1c25;
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 0;
}

.categories {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
