.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ready_stats {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.column {
  flex: 1;
}

.column_full {
  width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 320px;
  gap: 8px;
}

.title {
  margin: 0 0 24px 0;
  text-align: left;
}

.list_item {
  text-align: left;
  line-height: 1.4;
}

.content {
  text-align: left;
  margin: 0;
  text-shadow:
    0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.general_stats {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
